<!doctype html>
<html>
<head>
	<title>Energy Grid</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="navbarNav">
            <ul class="navbar-nav" id="top-navigation">
                <li class="nav-item"><a class="nav-link" href="/"><h4>Energy Grid<h4></a></li>
								<li class="nav-item"><a class="nav-link" href="/buildings/">Buildings</a></li>
								<li class="nav-item"><a class="nav-link" href="/energy_companys/">Energy Companies</a></li>
                <li class="nav-item"><a class="nav-link" href="/energy_plants/">Energy Plants</a></li>
                <li class="nav-item"><a class="nav-link" href="/energy_sources/">Energy Sources</a></li>
                <li class="nav-item"><a class="nav-link" href="/energy_plant_companys/">Linked Plants Companies</a></li>
            </ul>
        </div>
    </header>
    <div class="container-fluid">
	    {{{body}}}
    </div>
    <script src="/static/navigation.js"></script>
    <!-- jQuery is above, below is Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
