<h1>Energy Grid Database</h1>
<img srcset="https://static.vecteezy.com/system/resources/previews/000/225/336/large_2x/vector-green-energy.png 2x, https://static.vecteezy.com/system/resources/previews/000/225/336/non_2x/vector-green-energy.png 1x" alt="Green Energy" title="Green Energy" src="https://static.vecteezy.com/system/resources/previews/000/225/336/non_2x/vector-green-energy.png">